.cols50, .cols33, .cols12, .special_cols {
	clear: both;
	margin: 10px 0px;
}

.cols50 .left {
	float: left;
	width: 48%;
	padding-right: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cols50 .right {
	float: left;
	width: 48%;
	padding-left: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent url(../img/v_line_bg.gif) repeat-y top left;
}

.cols33 .left {
	float: left;
	width: 32%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.cols33 .center {
	float: left;
	width: 31%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent url(../img/v_line_bg.gif) repeat-y top left;
}

.cols33 .right {
	float: left;
	width: 32%;
	padding-left: 1%;
	padding-top: 5px;
	padding-bottom: 5px;
	background: transparent url(../img/v_line_bg.gif) repeat-y top left;
}

.cols12 .left {
	width: 200px;
	float: left;
	background: transparent url(../img/v_line_bg.gif) repeat-y top right;
	padding-right: 10px;
}

.cols12 .right {
	margin-left: 220px;
}

.special_cols {
	background: #ffffff;
}

.special_cols .right {	
	background: transparent;
	padding: 10px;
}
 